<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>de.jochenklar.restic.klarserver.backup</string>

    <key>UserName</key>
    <string>backup</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/jochen/.restic/launchd.sh</string>
        <string>klarserver</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key><integer>11</integer>
        <key>Minute</key><integer>02</integer>
    </dict>

    <key>WakeForSystem</key>
    <true/>
</dict>
</plist>
